*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*::selection{
    background-color: black;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
}
.nav{
    width: 100%;
    position: fixed;
    /* background-color: burlywood; */
    z-index: 99;
    padding: 1.7vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.nav-part1{
    height: 6.5vw;
    overflow: hidden;
    display: block;
}
.nav-part1 svg{
    display:block;
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.nav-part2 .links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1vw;
    margin:0 2vw;
    font-family:Helvetica, sans-serif;
}
.nav-part2 .icons i{
     font-size:1.1vw ;
     margin:0 3vw;
}
.links{
    padding: 0.3vw;
    /* background-color: #fff; */
}
.icons{
    padding: 0.3vw;
    background: #f7f7f7;
    border-radius: 2vw;
}
.cursor{
    height: 25vw;
    width: 25vw;
    background-color: rgba(78, 77, 77, 0.1);
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: 9;
}
.page1{
    min-height: 50vw;
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vw;
}
.page1 h1{
    font-size: 16.3vw;
    font-family: futura;
    line-height: 13vw;
    letter-spacing: -0.92vw;
}
/* .vc{
    height:100vh;
    width: 100%;
    overflow: hidden;
    position: static;
} */
.video-container{
    height: 46vw;
    width: 100%;
    margin-top: 1vw;
    background-color: grey;
    overflow: hidden;
    position: relative;
}
.video-container video{
    height: 100%;
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-container .play{
    padding: 2vw 1.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 11, 11, 0.856);
    color: #fff;
    font-size: 0.9vw;
    pointer-events: none;
    box-sizing: border-box;
    font-family: futura;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
}

.page2{
    min-height: 50vw;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 1vw;
}
.page2 .elem{
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}
.page2 .elem .dets{
    height: 4vw;
    width: 70%;
    border-radius: 25px;
    position: absolute;
    z-index: 9;
    top: 50%;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page2 .elem .dets:hover{
    height: 20vw;
    display: flex;
    justify-content: space-around;

}
.heading{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:start;
    justify-content: space-around;
    font-family: Helvetica, sans-serif;
    font-size: 1vw;
    padding-left: 2vw;
}
.page2 .elem .dets:hover .heading{
    margin-bottom: 1vw;
    justify-content: center;
}
.detail{
    display: none;
    justify-content: center;
    /* align-items: center; */
    object-fit: cover;
    /* overflow: hidden; */
    width: 50%;
    /* margin-top: 5vw; */

}
.detail img{
    width: 100%;
}
.page2 .elem .dets:hover .detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 1vw;
}
.heading p{
    margin-left: 2vw;
         
}
.detailPara{
    display: flex;
    justify-content: space-evenly;
    font-family: Helvetica, sans-serif;
    font-size: 1vw;
    margin-left: 2vw;
    display: none;
}
.page2 .elem .dets:hover .detailPara{
    display: flex;
}
.page3{
    min-height: 60vw;
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child{
    height: 25vw;
    width: 38vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child img{
    height: 100%;
}

.wishes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1vw;
    font-weight: 520;
}
.hr{
    height: 0.1vw;
    background-color: black;
    padding-left: 1vw;
    padding-right: 1vw;
}
.radio{
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 3vw;
    font-family:Helvetica, sans-serif;
    font-size: 2vw;
}
input[type=radio] {
    border: 0px;
    width: 100%;
    height: 1.5vw;
    filter:grayscale(1);
}
.radioPara{
    margin-left: 4.5vw;
    margin-top: 1vw;
}
.message{
    font-family:futura ;
    font-size: 6vw;
    margin-top: 8vw;
    letter-spacing: -0.2vw;
    text-align: center;
    word-spacing: -0.5vw;
    line-height: 5.5vw;
}
.button{
    height: 5vw;
    width: 100vw;
    display: flex;
    margin-top: 7vw;
    justify-content: center;
    
}
.button button{
    background-color: black; 
    color: white;
    font-weight: 650;
    border-radius: 3vw;
    width: 27%;
    border: none;
}
.impact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vw;
    object-fit: cover;
    height: 49vw;
    position: relative;
    padding-right: 2vw;
}
.impPara{
    width: 30%;
    font-family: Helvetica, sans-serif;
    padding-right: 5vw;
    padding-left: 1.5vw;
    line-height: 2vw;
    position: relative;
}
.image1{
    width: 33%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}
.image1 img{
    height: 100%;
    width: 100%;
    scale: 1.2;
    object-fit: cover;
}
.image2{
    width: 33%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}
.image2 img{
    height: 100%;
    width: 100%;
    scale: 1.2;
    object-fit: cover;
}
.email{
    font-family: futura;
    margin-top: 8vw;
    font-size: 1.5vw;
    padding-left: 2vw;

}
.contact{
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: Helvetica, sans-serif;
    margin-top: 10vw;
    font-size: 1.1vw;
    line-height: 1.5vw;
}
.terms{
    display: flex;
    color: #7b7b7b;
    font-family:  Helvetica, sans-serif;
    justify-content: center;
    font-size: 1vw;
    margin-top: 5vw;
}
.terms p{
    margin-left: 2vw;
}
.foot{
    justify-content: center;
    text-align: center;
    margin-top: 5vw;
    padding-bottom: 10vw;
    font-family:Helvetica, sans-serif;
    line-height: 2.3vw;
}
@media (max-width:600px) {
    .nav-part1 {
        height: 10vw;
        position: sticky;
        z-index: 100;
    }
    .nav-part1 svg{
        height: 35vw;
        overflow: hidden;
        display: block;
        object-fit: cover;
    }
    .nav-part1 svg{
        height:10vw;
        display:block;
    }
    .nav-part2{
        justify-content: center;
    }
    .nav-part2 .links{
        display: none;
    }
    .nav-part2 .icons i{
        font-size: 5vw;
        margin-right: 15vw;
    }
    .page1 h1{
        font-size: 15.9vw;
        font-family: futura;
        line-height: 13.4vw;
        letter-spacing:-0.vw;
    }
    .page1{
        padding: 0 1.5vw;
        padding-top: 35vw;
    }
    .video-container{
        height: 60vw;
        width: 100%;
        margin-top: 0.7vw;
    }
    .video-container video{
        height: 100%;
        width: 100%;
        object-fit:fill;
        overflow: hidden;
    }
    .video-container .play{
        padding: 5vw 3.5vw;
        font-size: 2.5vw;
        opacity: 1;
        scale: 1;
    }
    .page2{
        flex-direction: column;
        padding: 5vw 2vw;
    }
    .page2 .elem{
        height: 155vw;
        width: 100%;
        /* background-color: red; */
        margin-bottom: 3vw;
        overflow: hidden;
    }
    .page2 .elem img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        scale: 1.1;
    }
    .page2 .elem .dets{
        height: 4vw;
        width: 70%;
        border-radius: 25px;
        position: absolute;
        z-index: 9;
        top: 50%;
        transition: all 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}